.login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.login-page::before {
    content: "";
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 600%;
    bottom: 0;
    background: linear-gradient(45deg, #000000, #141414, #292929, #333333, #141414, #000000);
    animation: gradient 19s linear infinite alternate;
}

@keyframes gradient {
    100% {
        transform: translateX(-83.33%);
    }
}

.login-container {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 292px;
}

.spotify-logo {
    width: 84px;
}

.login-link {
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}