.wrapper {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(45, 45, 45);
    border-radius: 20px; */
    transition: 0.3s;
}

.lupa {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.buscador-input {
    min-width: 200px;
    outline-style: none;
    color: rgb(240, 240, 240);
    background-color: transparent;
    border: none;
}

 .clear-icon {
    margin-top: -3px!important;
 }

 .clear-icon:hover svg {
    fill: rgb(224, 224, 224)!important;
 }

 .wrapper:first-child svg{
    display: block!important;
 }
