.wrapper {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(45, 45, 45);
    border-radius: 20px; */
    transition: 0.3s;
    border: 1px solid rgb(26, 26, 26)!important;
    box-shadow: 0px 0px 5px 0px rgb(60, 60, 60)!important;
}

.lupa {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.buscador-input {
    min-width: 200px;
    outline-style: none;
    color: rgb(240, 240, 240);
    background-color: transparent;
    border: none;
}

 .clear-icon {
    margin-top: -3px!important;
 }

 .clear-icon:hover svg {
    fill: rgb(224, 224, 224)!important;
 }

.wrapper:has(input:focus) {
    border: 1px solid rgb(137, 137, 137)!important;
    box-shadow: 0px 0px 5px 0px rgb(137, 137, 137)!important;
}
