* {
    margin: 0;
    box-sizing: border-box;
}

h1, h5, h6 {
    margin: 0;
    padding: 0;
}

.perfilPage {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.perfilContainer {
    width: 100%;
    height: 100%;
    padding: 0;
}

.header-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    border-radius: 20px;
    height: 200px;
    background-color: rgb(22, 22, 22);
}

.perfil-imatge-nom {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    padding-left: 30px;
}

.header-perfil .perfilImage-img {
    width: 170px;
    border-radius: 50%;
}

.header-perfil .user-stats {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

.header-perfil .user-stats div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin: 15px;
    border-radius: 20px;
    height: 70px;
    background-color: rgb(22, 22, 22);
}

.link_actiu,
.link {
    background-color: rgb(55, 55, 55);
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    outline: none;
    outline-style: none;
    text-decoration: none;
    color: white;
}

.link_actiu h5,
.link h5{
    font-size: 17px;
}

.link:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

.link_actiu {
    background-color: white;
    color: black;
}