* {
    margin: 0;
    box-sizing: border-box;
}

.songPage {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.songContainer {
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    padding: 0;
}

.bg-header {
    position: relative;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 105%;
    backdrop-filter: blur(7px);
    pointer-events: none;
}

.content {
    padding: 30px;
    height: 100%;
    width: 100%;
}

.songImageandInfo {
    display: flex;
    column-gap: 30px;
    width: 100%;
}

.songInfo {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
}

.songInfo .albumYear {
    color: rgb(171, 171, 171);
}

.songImage img {
    width: 400px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.7);
}

.songPlayer {
    width: 100%;
    height: 100%;
}

.botons-funcions {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.opcio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    width: 100%;
}

.opcio-container label {
    width: 100%;
    text-align: center;
}

.botoOpcio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    transition: 0.15s;
}

.botoOpcio:hover {
    background-color: rgb(219, 219, 219);
    transition: 0.15s;
}

.ionicon {
    fill: #090909!important;
}