.navbar {
    background-color: #000000;
    height: 85px;
    padding: 0px 70px 0px 70px;
}

.logo {
    width: 60px;
    margin-left: -100px;
}

.logo:hover {
    cursor: pointer;
}

.titulo {
    color: white;
    font-size: 70px;
}

.perfil-usuari {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(250, 250, 250);
}

.nom-perfil {
    margin: 0;
    color: rgb(250, 250, 250);
    font-size: 17px;
}