* {
    margin: 0;
}

h1,h2 {
    margin: 0;
    color: white;
}

.homeContainer {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.titolHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }

 .homeContainer .carrregant {
    margin-top: -200px!important;

 }

 /* Media query per fer la pàgina responsive a dispositius mobils */
@media (max-width: 767px) {
    .titolHome {
        margin-bottom: -20px;
    }

    .homeContainer .separador:first-child {
        margin-top: 0px!important;
    }

    .homeContainer .separador:nth-child(2) {
        margin-top: 30px!important;
    }
}
