* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.perfilPage {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.perfilContainer {
    width: 100%;
    height: 100%;
    padding: 0;
}

.header-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    border-radius: 20px;
    height: 200px;
    background-color: rgb(22, 22, 22);

}

.perfil-imatge-nom {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    padding-left: 30px;
}

.header-perfil .perfilImage-img {
    width: 160px;
    border-radius: 50%;
}

.header-perfil .perfilName {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    color: white;
}

.header-perfil .user-stats {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.header-perfil .user-stats div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin: 15px;
    border-radius: 20px;
    height: 70px;
    background-color: rgb(22, 22, 22);
}

.link_actiu,
.link {
    background-color: rgb(55, 55, 55);
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    outline: none;
    outline-style: none;
    text-decoration: none;
    color: white;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    transition: 0.15s;
}

.link_actiu h5,
.link h5 {
    font-size: 17px;
}

.link:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
    transition: 0.15s;
}

.link_actiu {
    background-color: white;
    color: black;
}

.counter h5 {
    color: #bebebe;
}

.counter h3 {
    color: white;
    transition: 0.15s;
}

.counter h3:hover {
    color: #c7c7c7;
    cursor: pointer;
    transition: 0.15s;
}

/* Media query per fer la pàgina responsive a dispositius mobils */
@media (max-width: 767px) {
    .menu-links {
        column-gap: 10px!important;
    }

    .link_actiu,
    .link {
        width: calc(100px + 100px);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link_actiu h5,
    .link h5 {
        font-size: 12px;
    }

    .header-perfil {
        flex-direction: column;
        row-gap: 10px;
        height: auto;
    }

    .perfil-imatge-nom {
        margin-top: 10px;
        width: 100%;
    }

    .perfil-imatge-nom .perfilImage-img {
        width: 80px;
        border-radius: 50%;
    }

    .header-perfil .user-stats {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-right: 0px!important;
    }

    .counter {
        row-gap: 3px;
    }

    .counter h5 {
        color: #bebebe;
        font-size: 13px;
    }

    .counter h5 {
        color: #bebebe;
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .menu-links {
        overflow: auto;
        padding-left: 90px;
        padding-right: 10px;
    }
}